@keyframes move {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(300px);
    }

    100% {
        transform: translateX(0px);
    }
}

.image-animate {
    position: relative;
    left: 35%;
    top: 30%;
    width: 100px;
    cursor: url('../src/pickaxe.png'),auto;
    animation: move 5s infinite;
}



.scratch-card {
    position: relative;
    top:5%;
    left:5%;    
    width: 250px;
    /* Set the width of the images */
    height: 250px;
    /* Set the height of the images */
}

.hidden-image,
.top-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top-layer {
    cursor: url('../src/coin_cursor.png'), auto;
}