body, html {
  height: 100%;
  margin: 0;
  cursor: url('../src/spear_cursor.png'), auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header{
  color: black;
  width: 100%;
  height: auto;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a{
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
}

nav a:hover{
  background-color: #95a8a8;
  color:white;
  transition: background-color 0.3s, color 0.3s;
}

footer {
  background-color: #71b3b3;
  color: black;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  position: relative;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1000;
}

.header-hidden {
  top: -100%;
}

.bcg {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-image: url('../src/bcg.png');
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px; 
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  width: 100%;
  max-width: 1200px;
  background-color: rgba(208, 229, 229, 0.8);
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.introduction {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.intro-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro-image h1 {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bolder;
}

.intro-image img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.intro-text {
  flex: 2;
  font-size: medium;
  word-wrap: break-word;
  padding: 20px;
}

.board {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px;
}

#typewriter-text {
  font-size: medium;
  white-space: pre-wrap;
  overflow: hidden;
}

.project-banner {
  position: relative;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #f0f4f8, #e2e2e2);
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}

.project-banner h2 {
  font-size: 28px;
  margin: 0;
  padding: 10px;
  color: #333;
  position: relative;
  z-index: 1;
}

.project-banner:before,
.project-banner:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba(111, 194, 192, 0.4);
  z-index: 0;
}

.project-banner:before {
  left: 0;
  transform: skewX(-10deg);
}

.project-banner:after {
  right: 0;
  transform: skewX(10deg);
}

.project-banner .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
}

.project-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 30%;
  max-width: 350px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.project-card p {
  padding: 0 10px;
}

.project-card a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #56aeae;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  box-sizing: border-box;
}

.project-card a:hover {
  background-color: #3d8e8e;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .project-card {
    width: 45%;
  }

  .introduction {
    flex-direction: column;
    align-items: center;
  }

  .intro-image,
  .intro-text {
    width: 100%;
    text-align: center;
  }

  .intro-text {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .project-card {
    width: 90%;
  }

  .intro-text {
    padding: 5px;
  }
}