header{
  background-color: #AFFFF8;
  color: black;
  width = 100%;
  padding: 10px 0;
  text-align: center;
}

nav a{
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
}

nav a:hover{
  background-color: #6EEBFF;
  color: #FF7574;
}

footer {
  background-color: #AFFFF8;
  color: black;
  width = 100%;
  text-align: center;
  padding: 1em 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

container {
  margin: 50px;
  display: row;
  flex-direction: column;
  justify_content: space-between;
}

. grids {
  background-color: #000;
  width: 200px;
  height: 200px;
  border-top: 2px solid #000;
  border-right: 2px solid red;
  border-bottom: 2px solid green;
  border-left: 2px solid blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
}
